@inject Microsoft.AspNetCore.Identity.SignInManager<ThknApp.Models.ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
<form method="post" id="logoutForm" asp-action="Logoff" asp-controller="Account">
    <div class="h_main">
        <a class="textInHeader hH" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="textInHeader hL" asp-controller="Item" asp-action="List">List</a>
        <a class="header__phone hpH" href="tel:380963092145">+38 (096) 309 21 45</a>
        <a class="header__email hEm" href="#">layout585@gmail.com</a>
        <span class="textInHeader hello">Hello, @User.Identity.Name! </span>
        <a class="textInHeader logOff" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    </div>

</form> }
else
{
<a class="textInHeader hH" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
<a class="textInHeader hL" asp-controller="Item" asp-action="List">List</a>
<a class="header__phone hpH" href="tel:380963092145">+38 (096) 309 21 45</a>
<a class="header__email hEm" href="#">layout585@gmail.com</a>
<a class="textInHeader reg" id="registerLink" asp-controller="Account" asp-action="Register">Register</a>
<a class="textInHeader sig" id="loginLink" asp-controller="Account" asp-action="Login">Sign In</a>
}