<section class="slider">
    <div class="container">
        <div class="slider__inner">
            <div class="slider__item-content">
                <div class="slider__item">
                    <div class="pics1 pics">
                    </div>
                </div>
            </div>
            <div class="slider__item-content">
                <div class="slider__item">
                    <div class="pics2 pics">
                    </div>
                </div>
            </div>
            <div class="slider__item-content">
                <div class="slider__item">
                    <div class="pics3 pics">
                    </div>
                </div>
            </div>
            <div class="slider__item-content">
                <div class="slider__item">
                    <div class="pics4 pics">
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<h1 class="indexmain">Это страница Index</h1>







@*<section class="mainContent">
    @{
        ViewData["Title"] = "Home Page";
    }


    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="firstTitle">You're logged as @User.Identity.Name</h1>
    }
    else
    {
        <h1 class="firstTitle">You need to log in!</h1>
    }
</section>*@


