<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pictures</title>
    <link rel="stylesheet" href="~/dist/css/lightbox.css" />
    <link rel="stylesheet" href="~/css/MyStyle.css" />
</head>
<body>
    <nav1>
        <ul class="pictList">
            <li data-f="all">All</li>
            <li data-f="water">Water tourism</li>
            <li data-f="bike">Bike rides</li>
            <li data-f="hiking">Hiking</li>
        </ul>
    </nav1>

    <div class="containerPic">
        <a href="/img/bike/1c.jfif" data-lightbox="test"><img src="/img/bike/1c.jfif" class="box1 bike" alt="no pic"></a>
        <a href="/img/bike/2с.jfif" data-lightbox="test"><img src="/img/bike/2с.jfif" class="box1 bike" alt="no pic"></a>
        <a href="/img/bike/3с.jfif" data-lightbox="test"><img src="/img/bike/3с.jfif" class="box1 bike" alt="no pic"></a>
        <a href="/img/hiking/1c.png" data-lightbox="test"><img src="/img/hiking/1c.png" class="box1 hiking" alt="no pic"></a>
        <a href="/img/hiking/2c.jpg" data-lightbox="test"><img src="/img/hiking/2c.jpg" class="box1 hiking" alt="no pic"></a>
        <a href="/img/hiking/3c.jpg" data-lightbox="test"><img src="/img/hiking/3c.jpg" class="box1 hiking" alt="no pic"></a>
        <a href="/img/hiking/4c.jpg" data-lightbox="test"><img src="/img/hiking/4c.jpg" class="box1 hiking" alt="no pic"></a>
        <a href="/img/water/1с.jpg" data-lightbox="test"><img src="/img/water/1с.jpg" class="box1 water" alt="no pic"></a>
        <a href="/img/water/2с.jpg" data-lightbox="test"><img src="/img/water/2с.jpg" class="box1 water" alt="no pic"></a>
        <a href="/img/water/3с.jpg" data-lightbox="test"><img src="/img/water/3с.jpg" class="box1 water" alt="no pic"></a>
        <a href="/img/water/4с.jpg" data-lightbox="test"><img src="/img/water/4с.jpg" class="box1 water" alt="no pic"></a>
        <a href="/img/water/5с.jpg" data-lightbox="test"><img src="/img/water/5с.jpg" class="box1 water" alt="no pic"></a>
    </div>
    <script src="~/dist/js/lightbox-plus-jquery.js"></script>
    <script src="~/js/JavaScript.js"></script>
</body>
</html>